---
layout: default
show_dark_footer: false
is_home_page: true
---
<div class="row">
    <img id="homeKeyVisual" src="{{'assets/lilo_key_visual.jpg' | relative_url}}"/>
</div>

<div class="row spacer"></div>

<div class="row">
    <div class="col">
        <p>
        Living Loads is a joint project that develops realistic demand profiles for buildings
        and districts by combining artificial intelligence with behavioral simulation. The
        project aims to create web-based software solutions that represent user-dependent
        energy demands more realistically. This includes electricity, hot water, occupancy 
        and mobility, helping to improve the planning and evaluation of energy systems.
        </p>
        <p>
        The project addresses a central practical problem: user-dependent energy
        demands are still often represented by standard load profiles. These profiles
        are easy to use, but only represent the diversity of real buildings and their
        occupants to a limited extent. Factors such as the number of occupants,
        local weather, socio-demographic characteristics and, at district level, the
        simultaneity of individual loads can have a major impact on actual demand.
        At the same time, the way buildings are used continues to change, with more
        diverse and flexible patterns of occupancy and energy use, making reliance
        on a fixed set of standard profiles increasingly problematic. If these effects
        are not represented adequately, energy systems may be over- or undersized.
        </p>
        <p>
        The idea behind Living Loads grew out of practical planning experience,
        previous research projects and the work on the overarching
        <a href="https://quasi-software.org">software project QuaSi</a>, especially
        during the development of GenSim. These experiences showed the need for
        a method that combines the realism of detailed behavioural simulation with
        the simplicity required in planning practice. AI models trained on simulations
        with the open-source
        <a href="https://www.loadprofilegenerator.de/">LoadProfileGenerator</a>
        translate complex usage patterns into a small set of practical input parameters,
        without requiring a detailed behavioural simulation for every planning task.
        </p>
    </div>
</div>

<div class="row align-items-center">
    <div class="col-lg-8" style="padding: 0;">
        <p>
        The software, AI models and training data that will be produced as part of Living
        Loads will be published as open-source under the umbrella of QuaSi Software. There
        is a large overlap between the developers and organisations working on both projects.
        Feel free to check out the other available tools and documentation!
        </p>
    </div>
    <div class="col-lg-4" style="padding-left: 1rem;">
        <a href="https://quasi-software.org">
            <img src="{{'assets/logos/quasi_nobg.png' | relative_url}}"
                 style="width: 100%"
                 alt="QuaSi Software"/>
        </a>
    </div>
</div>
<div class="row spacer"></div>

<h3>News</h3>
<div class="row">
    <div class="col">
        <p>
        Here you can find the newest posts about Living Loads on the QuaSi website.
        </p>
        <ol>
            <li>
                &nbsp;&nbsp; August 21st 2026 - 
                <a href="http://quasi-software.org/news/2026/08/21/launch-of-living-loads-website.html">
                Launch of new website for Living Loads
                </a>
            </li>
            <li>&nbsp;&nbsp; January 5th 2026 - 
                <a href="http://quasi-software.org/news/2026/01/05/start-of-new-project.html">
                Start of new project: SLP_Ade
                </a>
            </li>
        </ol>
    </div>
</div>

<div class="row spacer"></div>

<h2 id="concept">Concept</h2>
<div class="row">
    <div class="col">
        <img src="{{'assets/concept_diagram.svg' | relative_url}}" style="width: 100%"/>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>
        Living Loads bridges the gap between detailed behavioral simulation and the
        simple input required in planning practice. At its center is an AI model that
        uses a small set of key information about buildings and their occupants,
        including building type, floor area, household size, local weather and
        socio-demographic characteristics.
        </p>

        <p>
        From these inputs, the model generates time series for plug loads, domestic
        hot water and electric vehicle charging, as well as profiles for the presence
        and activity of occupants. Presence, activity and plug loads can then be used
        as internal loads in a
        <a href="https://quasi-software.readthedocs.io/en/latest/gensim_overview/">thermal building simulation</a>
        to determine heating and cooling demand. In this way, user behavior and
        building physics are brought together in one consistent demand model.
        </p>

        <p>
        The AI model is trained on data generated with the open-source simulation tool
        <a href="https://www.loadprofilegenerator.de/">LoadProfileGenerator (LPG)</a>,
        which simulates people's energy-related activities at household level.
        LPG has been in use for over a decade and can produce high-quality, realistic
        load profiles. As part of Living Loads, the underlying simulation data basis
        of the LPG will be further developed and updated to better reflect current occupant
        characteristics and changing patterns of residential use. At the same time, detailed
        behavioral simulations require extensive input data and computational effort.
        By training the AI model on systematically generated LPG simulations, Living Loads
        reduces these complex inputs to a small set of key parameters, making realistic
        demand profiles much easier and faster to generate.
        </p>

        <p>
        Whole-district profiles are aggregated from individual units so that the
        stochastic spread and simultaneity of loads are retained. This is particularly
        important at district level, where coincident loads determine the resulting
        peak demand and therefore influence the dimensioning of energy systems.
        Beyond residential use, Living Loads will also extend the LPG to represent small
        businesses from trade, commerce and services. This enables mixed-use buildings
        and districts to be represented within the same modeling approach.       
        </p>
    </div>
</div>

<div class="row spacer"></div>

<h2 id="partners">Partners</h2>
<div class="row">
    <div class="col-lg-12" style="border: 1px solid black; padding: 0;">
        <div class="row" style="margin: 0;">
            <div class="col-lg-4" style="padding: 5px 0 5px 5px; height: 175px;">
                <div style="border: 1px solid black; height: 100%; display: flex;">
                    <a href="https://www.fz-juelich.de/de/ice/ice-2" style="width: 100%; max-width: 310px; margin: auto;">
                        <img src="{{'assets/logos/fzj_ice-2.png' | relative_url}}" style="width: 100%; max-width: 310px; margin: auto;"/>
                    </a>
                </div>
            </div>
            <div class="col-lg-4" style="padding: 5px; height: 175px;">
                <div style="border: 1px solid black; height: 100%; display: flex;">
                    <a href="https://fact-gmbh.com/" style="width: 100%; max-width: 310px; margin: auto;">
                        <img src="{{'assets/logos/tmm-group.png' | relative_url}}" style="width: 100%; max-width: 310px; margin: auto;"/>
                    </a>
                </div>
            </div>
            <div class="col-lg-4" style="padding: 5px 5px 5px 0; height: 175px;">
                <div style="border: 1px solid black; height: 100%; display: flex;">
                    <a href="https://siz-energieplus.de" style="width: 100%; max-width: 310px; margin: auto;">
                        <img src="{{'assets/logos/siz-energieplus.png' | relative_url}}" style="width: 100%; max-width: 310px; margin: auto;"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col" style="padding: 0;">
        <p>
        Three organisations are working on bringing Living Loads to life. The
        <a href="https://www.fz-juelich.de/de/ice/ice-2">system analysis group ICE-2</a> of the
        Institute of Climate and Energy Systems of the Jülich Forschungszentrum are the developers
        of LoadProfileGenerator. Their work on the project includes updating LPG and implementing
        new features, extending the model scope to include small and medium enterprises, as well
        as applying their expertise with LPG where it is needed.
        </p>
        <p>
        <a href="https://fact-gmbh.com/">FACT</a>, part of the TMM Group alongside
        <a href="https://dbi-network.com/">Digital Building Industries AG</a>, bring experience
        with creating AI models based on simulations to the project. Their work involves
        exploring the space of possible AI model architectures to find the best approach and
        building the training pipeline to create the models. They also work on developing apps
        based on the models to integrate into a larger ecosystem of related software.
        </p>
        <p>
        Acting as project coordinator, <a href="https://siz-energieplus.de">siz energieplus</a>
        works on many aspects of the project. This includes developing a model for the charging
        of electric vehicles, specifying and generating the training data, validating results
        using measurement data, coordinating the network of associated partners (see below) and
        developing other open-source software as part of the project.
        </p>
    </div>
</div>

<h5>Associated Partners</h5>
<div class="row">
    <div class="col" style="padding: 0;">
        <img src="{{'assets/partners_overview.png' | relative_url}}" style="width: 100%;"/>
    </div>
</div>

<div class="row">
    <div class="col" style="padding: 0;">
        <p>
        A variety of organisations are supporting the joint partners working on Living
        Loads. These associated partners take on various roles ranging from beta-testing
        the developed software, lending their expertise, validating results to connecting
        research and education through the project and its results.
        </p>
    </div>
</div>

<div class="row spacer"></div>

<div class="row">
    <div id="funding" class="col-lg-8" style="padding: 0;">
        <i class="bi bi-piggy-bank" style="max-width: 50px; padding: 0; font-size: 2.5rem;"></i>
        <span style="margin-left: 5px; font-size: 2rem; font-weight: 700;">Funding</span>
        <br/>
        This project is funded in majority by the German Federal Ministry for Economic
        Affairs and Energy (BMWE), under grant number <b>03EN3135</b> in the research program
        "8. Energieforschungsprogramm". You can visit the
        <a href="https://www.enargus.de/search/?q=01286016%2F1">SLP Ade project page</a>
        on the official funding platform for more details.
        <br/><br/>
        The connected <a href="https://quasi-software.org">open source software project QuaSi</a>
        was funded by the BMWE, under grant number <b>03EN3053</b> in the preceding
        "7. Energieforschungsprogramm".
        <br/><br/>
        Part of the current project is further development of the open source tool
        LoadProfileGenerator. You can find more details on its funding over the years on its
        <a href="https://www.loadprofilegenerator.de/">homepage</a>.
    </div>
    <div class="col-lg-4" style="padding-top: 15px;">
        <img src="{{'assets/funding_disclaimer.png' | relative_url}}" style="max-width: 280px;"/>
    </div>
</div>

<div class="row spacer"></div>

<h2 id="contact">Contact</h2>
<div class="row">
    <div class="col">
        If you have questions or would like to know more, feel free to
        <a href="mailto:info@quasi-software.org">contact us</a>.
    </div>
</div>

<div class="row spacer"></div>

<!-- Space for additional content on homepage -->
{{ content }}
